.toubu a {
    float: left;
    height: 200px;
    width: 100%;
    background-image: url(../upload/toubu01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.clearfix:before,
.clearfix:after {

    
    content: "";
    display: table;
}

.clearfix:after {

    clear: both;
}

.clearfix {

    *zoom: 1;
}

.dingbu {
    height: 40px;
    width: 100%;
    background-color: #f9f9f9;
    line-height: 40px;
    margin: 0 8px;
}

.dingbu-left {
    float: left;
}

.dingbu-right {
    float: right;
}

.dingbu-right p,
.dingbu-right a,
.dingbu-right i,
.dingbu-right span {
    float: left;
    color: #646464;
 
}

.dingbu-right i {
    margin-left: 10px;
    margin-right: 10px;
}

.dingbu-right span a {
    float: right;
    color: #ff2832;
}

.dingbu-right .car span {
    float: right;
    color:#ff2832;
}

.dingbu-right .car {
    position: relative;
    margin-left: 42px;
}

.dingbu-right .car img {
position: absolute;
top :0;
left:-27px;
width: 17px;
height: 17px;
}

.sousuo {
    height: 112px;
    
}

.sousuo-logo {
    float: left;
    margin-top: calc((112px - 77px) / 2);
}

.sousuo-sousuok {
    margin-top: calc((112px - 45px) / 2);
    /* border: 1px solid ;/ */
    position: relative;
    top: 0;
    right: 0;
    
}

.sousuo-sousuok input {
    float: left;
    height: 45px;
    width: 460px;
    border: 3px solid #ff2832;
    box-sizing: border-box;
}

.sousuo-sousuok .gjz {
    float: left;
    position: absolute;
    margin-top: 15px;
    margin-left: 730px;
    background-color: #f6f6f6;
}

.sousuo-sousuok button {
    float: left;
    height: 45px;
    width: 56px;
    background-color: #ff2832;
    border: 3px solid #ff2832;
    margin-top: 0px;
}

.sousuo-rs-left p {
    display: inline;
}

.sousuo-rs-left,
.sousuo-rs-right {
    float: left;
}

.sousuo-rs-right{
    margin-left: 80px;
}

.sousuo-gwc{
    float: left;
    width: 125px;
    height: 45px;
    margin-left: 140px;
    background-color: #ff2832;
}

.sousuo-gwc a {
    color: #fff;
   
}

.sousuo-gwc-dd{
    float: left;
    width: 75px;
    height: 43px;
    border: 1px solid #dfdfdf;
    line-height: 43px;
    color: #646464;
}

.sousuo-gwc-dd a{
    padding-left: 20px;
}

.toubiao{
    height: 48px;
    border-bottom: 3px solid red;
}

.toubiao a{
    line-height: 48px;
    padding-left: 36px;
    
}


.toubiao-dage {
    float: left;
    width: 170px;
    height: 48px;
    background-color: red;
    line-height: 48px;
    padding-left: 25px;
    color: #fff;
    box-sizing: border-box;
}

.lzy{
    height: 528px;
    box-sizing: border-box;
    position: relative;
}

.lzy-wenzi {
    float: left;
}

.lzy-wenzi a {
    display: block;
}


.lzy-wenzi li {
    width: 200px;
    height: 30px;

}

.lzy-wenzi li a {
   
    color: #323232;
    font-size: 16px;
    line-height: 30px;
    padding-left: 18px;

}

.lzy-tupian1 {
    float: left;
}

.lzy-tupian {
    float: right;
    height: 195px;
    width: 200px;
    background-image: url(../img/lzy5.jpg);
    background-repeat: no-repeat;
    background-size: cover;  
    margin-left: 1000px;
    position: absolute;
    
}

.lzy-tupian img {
    float: right;
    width: 200px;
    border-right: 2px solid #f7f7f7;
}

.lzy-right-wenzi {
    float: left;
    width: 100px;
    height: 29px;
    padding-top: 194px;
    padding-left:26px;
    line-height: 29px;
   
    background-color:#f0f0f0;
    box-sizing: border-box;
    border-right: 2px solid #f7f7f7;
}

.lzy-right-wenzi span {
    color: #646464;
}

.lzy-right-wenz-right{
    float: right;
    width: 97px;
    height: 28.8px;
    padding-top: 194px;
    padding-left:26px;
    color: #646464;
    line-height: 28.8px;
    box-sizing: border-box;
    border-right: 2px solid #f7f7f7;
}

.lzy-right-wenz-right span {
    color: #646464;
}

.lzy-right-wenzi1   {
    float: right;
  width: 200px;
  height: 143px;

  box-sizing: border-box;
}

.lzy-right-wenzi1 a {
    display: block;
}


.lzy-right-wenzi1 a{
    width: 157px;
    height: 26.8px;
    /* padding-left: 24px; */
    line-height: 30.8px;
    border-right: 2px solid #f7f7f7;
}

.lzy-right-wenzi1 a img {
    padding-top: 194px;
    float: right;
}

.lzy-xiaotupian  a {
    width: 197px;

}   

.jingxuan {
    height: 62px;
    width: 1200px;
    border-bottom: 2px solid #3c3c3c;
}

.jingxuan img {
    padding-top: 15px;
}

.huodong-pintuan {
    float: left;
}

.huodong-tupian img {
    width: 150px;
    height: 150px;
}


