.box-hd{
    display: block;
    margin:0 auto;
    width:1200px
}


.clearfix::before,
.clearfix::after {
    content: "";
    display: table;
    /* width:1226px; */
}

.clearfix::after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}
@font-face {font-family: "iconfont";
    src: url('iconfont.eot?t=1575280095853'); /* IE9 */
    src: url('iconfont.eot?t=1575280095853#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAQsAAsAAAAACCAAAAPdAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcAqELIQSATYCJAMICwYABCAFhG0HMBs4B8guMXZtEBnaZodNcW6g+mbr7oOeJFCxyP9v7Xff+Jn9HzFv0LWbaVqaeqM0IiGqNkKzxB6u6f2AMEMFiIrSARXy3285zZhtwcihHStWiHbCEeLgdgkhADpwYPHQe/u33Rts09ACHAQU5YFHgVCSG1zhD7Y20PIiMKyTm3/Hi2QceSRnPbeIWm/H9ptsXilNLlLzP7dL1RT/c8x0UYL5feFSmVRJewMcD2hA3UCjvjvQazwwv2Hsyos4DgSwEiTh9pqmVnAhGOMIQJcoSMElpSVq0olBVMnSBHpBMmUlHmDb/3j6sTEARlYwsirOagWUfUFmir37q8VFAG88MwC2CuCAPAABtEqtZezDaB57Vok6SAHrSif4Cvp/l7vafzyAgBoYUh/ExnHPiWfzT/W3DAAIgALcnBiv16UANZNaA4P8hq6uAqyOb28l19et3Ezx1QrT7m4GuIg1EV8ZYWH39cAZy+Uwd9Tc1nTZLGi1avc5pTlgnw2H6iDd+sm4sc6CsjU2kcLIUq6IW2URGJzdXmwu5HTv5voIsnrzDbd8DMJaaKF9cBXQu3o3DT7lu/eBtlN6fBs34yB1GLdKJIGtjqjNdGEc3Aa7/BQHD7/u7g6+/BROOj7byiGW+xYvE30dZZYQ4eY0Z5FDlpTeDsze3qnO2b2sPMHFxOhTkhBF9qw7zrlZp9MKiefzNL1Cq1aJLpx9lX2e6oh3WkEZnad1XLG8CthRirTONQbmnaC5uNpXOlTJRi+Or1iWK1exyBbDt8q3vt5l3NaYmdBdV9edIFgsjxWFMjsmbH+FW/k69qbhuKqqOJwW0DixPVZeefZoq3Tb8cMC0uJwVRWOsw+test79N59Exg14TX5eOD5OZe5J+5L91qvqFnv1XtEEQDgPT9P/dv/BpG3dtq9i76N4wAA8OL2v77be4F2doB5OTaCn8xr2SBUgaFjKfNKk8wNzMsrsyzAA3aGeOlrDwexmRjOg8Bo8cAZaUiBzQPJUQCKUQhWrtrVjlCUPUpXAHIsACBB1oEJcAFckAukwD6DFOEblKBwsOrCf0tHRgbdKimRMqJAshEkyvU63jIwtyC9mQgDGilNCnwiJtQkBlB6Slo2UUt0hI4xwzQoZDDGI57qtagGnEY0Gj0yUL2KyFmKkjFDQWoqX3amFLleC25KUYQUQyggMiMQkZyeDu+2Ztxy79+MEAzQkKI1dRVmjKBMxM6RdCnSWiBrpbpWddfS22SQIAPD8HgUj9LTQmqgmdCYUT3EUD5IhZBjUih7hA0KpKJmfFtpyvxy7dNtA7AMFQuznz2om4ijShEAAAAA') format('woff2'),
    url('iconfont.woff?t=1575280095853') format('woff'),
    url('iconfont.ttf?t=1575280095853') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url('iconfont.svg?t=1575280095853#iconfont') format('svg'); /* iOS 4.1- */
  }
  
  .iconfont-shiwang {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-weizhi:before {
    content: "\e616";
  }
  
  @font-face {font-family: "iconfont";
    src: url('iconfont.eot?t=1575280969394'); /* IE9 */
    src: url('iconfont.eot?t=1575280969394#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAKUAAsAAAAABkAAAAJKAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcApMYAE2AiQDCAsGAAQgBYRtBy8bhQUR1Ys7sq8TODcvNH3lGIiIqltDAnZvx3tX2Lqq9mNLTBUHx0RQrZE9t/sEIF8DQKLIvYpiC6wAjUx5FOqFCUkgobO1Zmn5CXWEOpL1/6zQL2S32+NciqrzQpvrCR5ZZrlA05x4e/UZqLgYAFUw5BP3Tv8E+iCjHlCOe9FYkyZ1AXVxIAW0N0aRlVDGDWMXuITHBCr1mhbLz58/UC6zVgXiUvAKynMhWWbZcqG05mAWT6BEefFoOIDH4ffjD2Qxp1CSWHX7J08W5r9n542O/fGcT0CYgI6XIGEamTiuTe1KgnFJZSobZF/Vwff63neKvdoE++usymrQDeX3pHBXClDAbY3UiI5RE4jGXtVsT7ztL2620Mvb/Guzt4cbj/6tlX/joX9wek63RW6Yh36Wfg//IRBMfujxxSsvl8Enw43QmvXzUL4Pd/AvFD27sq6yHEVWFbX9hcZzNFSqxH/sa/RtrLnlxLlQrmWEp0xPiqTcMJnZaZSoMoNS5eZQacra8SpNLksiV2DSPYBQ7w0KtT4iqXdKZvYrSrT6h1L1MUKls8GFVUYDC6eZlJBFvcdg6so5LjmNqr/IrwvFWVXI/xF3IYpplBSzL1QRz7Gl2/hMxKHjusRn8BwVRY0N1ysyEi1FmkUcu7o3RaYu4RQyKSGLeo/B1JXzB8tp6fNf5NeF4paOmuwfcRfGxzRKepAv+qpXx7280m18JuLQcV3iM5hHRVFjUz9vRUai5YhEs4jtXq6vPlrfWH7dIQBOwbIMB/aMxC6oQgEA') format('woff2'),
    url('iconfont.woff?t=1575280969394') format('woff'),
    url('iconfont.ttf?t=1575280969394') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url('iconfont.svg?t=1575280969394#iconfont') format('svg'); /* iOS 4.1- */
  }
  
  .iconfont-kaixing {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-xiala:before {
    content: "\e634";
  }
  @font-face {font-family: "iconfont";
    src: url('iconfont.eot?t=1575343329612'); /* IE9 */
    src: url('iconfont.eot?t=1575343329612#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAKcAAsAAAAABkwAAAJSAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcApMYQE2AiQDCAsGAAQgBYRtBzkbkAXILrBt2JMi1UbjuJH8ClZAAEAE3+/9uee++2ilKWSpuhaNwohvUSAZhIEkRkSoCJOoVoz4V3N5RRZmCzIsX5VIoQ3u5S90mc1+YTzr9o2tcPUoZFk362PHMmkbPTc5+32ey+ndVUCBzA+U41401qRJvYB6cSAFNNamyEoo44axC17gcQINRhh69jb3j8SwzB4XiHuVhmK44JZlFqsTahqWZvGkVJce0hvhMfp+/OfFMElZsAsO7zYSsfxrw0koKtWK24DgIaDVJQosETJx2hje1ycYs09DuN8Ecazc4NdGtRqYxFH1gv11dnYTGIKCZxJ6okeNJXistjoJ/ZOuJjq76+nqjaPuy4fXbnyodCX314dzT628LO10ebH8Pe/WfpnJt77awj9Ln9ICwfNHyp9aU9eYwecxXyNdNsxK3U4swc8QDqzJhtg2pqwJGxuTzpMUNWhAFbZ3+Jyq6T5zPNTpnmCtNZyhUGeKzIwllBqtokadTTRYtLW6USfSJ3I9FlwChDaPSFp8RKHNO5kZHyj1+EeNtuhDg/Po3LLRTKjRXcKQMYHoAlSsK+maeTTOPcC0U4SUF0esE6RG+cC1nHJsCyukJWY0p6nHLEGSLmETnIZFoaEmnWHMVpu5btm2bHqTFetSjNpFUIihBIhcAEpMq8igORutfP4ASnUUQtRRVec/gUhDdQ5cFmcAuaWoBlU9yiuNUykPYxKQiFYCm2AQKhQ0UDcPyqAYs7QnBGsttlNPDlVY26vKv9sCDWxtCqdbofVeYaRCnXmpFeuOKQQ=') format('woff2'),
    url('iconfont.woff?t=1575343329612') format('woff'),
    url('iconfont.ttf?t=1575343329612') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url('iconfont.svg?t=1575343329612#iconfont') format('svg'); /* iOS 4.1- */
  }
  
  .iconfont-dayu {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-liebiaojiantou-:before {
    content: "\e645";
  }
  @font-face {font-family: "iconfont";
    src: url('iconfont.eot?t=1575374777113'); /* IE9 */
    src: url('iconfont.eot?t=1575374777113#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAK4AAsAAAAABpgAAAJqAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCDBgp8gQwBNgIkAwwLCAAEIAWEbQc8G9gFEdWTQ2RfHNi2iPQb0f1JnMh/M1guNtj34P/fNfK+/MxsllgBkKQSg2SWZQ9Ax7fCMMnq2dys8q9GRSiW5Dz4X74j3RAuhB8BkCIMN3Uw5PNcTm8CHcj8dnZO1xo29nh+1AswDiiwPTGKEi2RQDwHurEZmWh/eh8C0iilGQ0ZNmYKAU+4TIDWrFy+kNBJ4/F6LSDiib0enSQiuEPupeJE8X39mRTAERnh2gnLhi5hwHfft53JTuZkBBkQ4nAEGNAMeNC8yfIMDOmckeb0y60xHuHOyiVJYfTc8Uv/eA4UE3ZnAFAvKg6+SxQIvn8AB4ABEHerZUCLZAveJ1QctixZqos7nxxu1LJL0q4mLb985CnnNi+ZulxaNqX9VrJ9+549dPWd6u3i3t0p5ZRPKc7o6j1V5pi8c9GiOXOePRPPnmMyCwBIdlqN7cTvXliWDUSA4MKUk5/nZ/f8D+kegNdteIhUstPDewkvjwh+lons854l9Jh3jIkxiBrFRNCB0IwYCWE8j/f73YV0EUToWHZEUyhxYQSqSc82IyKdbsQE+pFGE8MPp5PPJgz5VKCRfYDI4TocWTyHkcMr0rPvEFHEP8TkyJDGNOWfmU6t0KwzGkEP9g/Z0R5in+iy947xaobbloJ/I585B2M39Gsr7shnbDg/cRIJEJg2WPAYtkZwMBV00iWRY+77MPWiztGmNBmNoAf7h+xoD9lw0YPP3zFezfCCrqt+I595fBi7gSBX507pvuWZ8xMnkQCBaYMFs7A1gmN6VkEnXdpRPOY+GhRYZ3e/e/u+I0Aa4WGTk8ljVTa70HUrQqNSAAAA') format('woff2'),
    url('iconfont.woff?t=1575374777113') format('woff'),
    url('iconfont.ttf?t=1575374777113') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url('iconfont.svg?t=1575374777113#iconfont') format('svg'); /* iOS 4.1- */
  }
  
  .iconfont-yumen{
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-jiantou:before {
    content: "\e622";
  }
  
  .icon-jiantou1:before {
    content: "\e637";
  }
  @font-face {font-family: "iconfont";
    src: url('iconfont.eot?t=1575375303478'); /* IE9 */
    src: url('iconfont.eot?t=1575375303478#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAKIAAsAAAAABkAAAAI9AAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcApIXQE2AiQDCAsGAAQgBYRtBzMbhgXIHpIkRSoUUIB6BwDjGRE87dfm7e4d4hqJolk0kUmUcBU8BiudfokM9W+/n6YjFDZ3syVWI1Jj96HN+8D5KZ0fKAlk5FjITbgJvQYMVKT1P5fTu6uAApkfKMe1N03qBdSLAynQMSfJYmwYu+AFrifQblpW5nj78ARmFHa3QNw7lgEzBYeisHCrUG8YW8S7mtb0kL6At+j38ascMyS1zM46u9vqwmozOVHjjQq3AcJJQJNryNgECnHVGDgxLhhxXHtgwjw4VnrQTP9VoBJHlQv219mpnWASMp6J6bEeNZzgsRrqA0YmHUr0peq+j8YadW/5fNqwHvx/ONyoX9RLe/Z9qtWb2spwWK3AKkD1mefzIWQQ/LXebmjL2+E78wX8dPIrtVWfBYaZQOsujMGvYA4sKwbbVqaiMRurk75T5LRrRwXY0u93qmTovJHQamiCqcVUBlmrRbQQNqGmwxbUtdqDdht2JncYwMZFacO6SwCh1wsk3b4h6/WNFsIP1Az7g7reGId2NzEwZ4flcOaOmAyhLpojdDpRqFy1zMXpR2T1fIPz7Ih0Rpw6bizli+XwDoXESwxI+1ZZRKHiKMBtsBn5foQxRy51JG+LxO1CQTW9KN+JAphzhBGDIF3INIIcHZGQCmqLucr3jxBLj8/AHSV1+jOEpZzmUUlecQC6IwgHlTzKJak+S5kQClJYJIC2QSvi80VQ3NzKRTpEnj3BF2srOJXUUEF+e1Hwd+ugnS1N4eiztiePz8VMfQAA') format('woff2'),
    url('iconfont.woff?t=1575375303478') format('woff'),
    url('iconfont.ttf?t=1575375303478') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url('iconfont.svg?t=1575375303478#iconfont') format('svg'); /* iOS 4.1- */
  }
  
  .iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-icon-prev:before {
    content: "\e502";
  }
  @font-face {font-family: "iconfont";
    src: url('iconfont.eot?t=1575507784115'); /* IE9 */
    src: url('iconfont.eot?t=1575507784115#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAMQAAsAAAAABvwAAALDAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcAqCBIFnATYCJAMICwYABCAFhG0HMRsOBsgekiSQeAYKABQCgQQiiF/7zd69b4Im1QjZs2hUSQESxEbpGr0E/len/dplnlRkkB2FlCcrZZyIp/IRDdNtQBPwfiNOqQ88n+dyeivx+YFyXHvzUS/AOKCA9sZoCxfQgXEq4u1yetCXCVQNiGS2VlzZCNYSzArEHZH7wLoQlSS5UBaKDRuTeAIL5exBeAHgMfp9/EF8WJMp5NCyeVE0CLmfKVQizphmdAYEyJZzQ95GjjkgEbuN3nVikp0jqppZcyPgWI3BZ4rJFEgP+8cjiCLU10EfJ30mmSd/VC4zkFDEBnAw6WMU286Ojnl7/PzaR9i/CnS8uPEVj26FUMfHb/qEk7cLTs/eD4qn747WPJt3j/bOPZp29t237QrH7h56texd7hy4N243NjU2r525w8653XqNenbQtPifgWhFIMIKao6mNEU21/pbEAv/WjZIE2o/WqhPifvvViIeXBJrzA+wrOdxKUX6lIB/camF+rHWjYVKutDxjR2HFw7srE8f4A9+Hx4MKpAL8fxeeP6HuXH1kRbU45T527qWwIvj0sicDPOD8n34gv8pG9iWLAVsWTJkjcXMBsv7VFcpwT8EO32dauy5+WIo63kFf0l/hlzZGJl4cyiomUdR2SKqZpVsr+nCiCJVMGORIbTdQ6bpGbm2l2TifUFBr18oaoeIqv1wO7BmIohtAcN9HA+i/lFEBqhech3cNm6sx7JR28fyiojfjJlCEiguOrZcKMF6zJZYogzJ8ZxLSGJUh4rZdVirpcjAqBoP8GgV54b0mBip6U7RA1QHtlYxWB8OG4T0G4UQAyg9KejO2Va+Xw+TGWn1YR2spmQzjFGQ/pE40WIHkCVa/SDWo9yiGCKLx3ESRMJQOkgxc2NaylKIoXmcGjaAi6aakDZIF8N3koZqo7fX6/5uD1TBlAWNzJXOSJ9eUREAAA==') format('woff2'),
    url('iconfont.woff?t=1575507784115') format('woff'),
    url('iconfont.ttf?t=1575507784115') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url('iconfont.svg?t=1575507784115#iconfont') format('svg'); /* iOS 4.1- */
  }
  
  .iconfont-dianshi {
    font-family: "iconfont" !important;
    font-size: 25px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-dianshi:before {
    content: "\e637";
  }
/* 版心 */
.container {
  position: relative;
  margin: 0 auto;
  width: 1200px;

}

/* 清除浮动 */
.clearfix:before,
.clearfix:after {
  content: "";
  /* 既让伪元素变成块级 还让他们排在一行 */
  display: table;
}

.clearfix:after {
  clear: both;
}

/* 兼容ie 6 7 */
.clearfix {
  *zoom: 1;
}
  
  
  
  
  
  
  
  